
.Logos-container
{
    margin: 0 auto;
    width: 70%;
}
.logo-container
 {
    background: #006AE1;
    border-radius: 7px;
    display: flex; /* Lays out children in a horizontal row */
    align-items: center; /* Vertically centers items */
    justify-content: start; /* Aligns items to the left */
    padding: 10px; /* Adds padding inside the container */
    overflow-x: auto; /* Enables horizontal scrolling for overflow */
    justify-content: space-between;
    text-align: center;
    z-index: 1;
    filter: opacity(5);

}

.logo-container img {
    max-height: 100px; /* Ensures images don't grow too large */
    height: auto;
    width: auto;
    border-radius: 7px; /* Rounds corners of images */
    background-color:#006AE1;
  z-index: 0;
}

.header-container p {
    font-size: 20px;
    font-weight: bold;
    /* text-align: center; */
    margin-bottom: 15px;
    color: white;
}

@media screen and (max-width: 1268px) {
    .header-container
    {
        /* margin: 0 auto; */
        /* width: 70%; */
        font-size: 10px;
        margin-bottom: 5px;
       }
    .Logos-container {
        width: 80%;
        z-index: 1;
        filter: opacity(5);

    }
    .logo-container img {
        max-height: 25px;
        padding-left: 3%;
        padding-right: 3%;
        /* light them  */
        /* filter: opacity(5); */
        z-index: 0;
    
    }
}
