<div class="Logos-container">
    <div class=" header-container ">
        <p class="outfit-semi-bold">Features on</p>
    </div>
    <div class=" logo-container">
        <!-- Images are added directly here -->
        <img src="assets/img/Unity-logo.png" alt="Logo 1">
        <img src="assets/img/vscode-logo.png" alt="Logo 2">
        <img src="assets/img/GitHub.png" alt="Logo 2">
        <img src="assets/img/linkedin.png" alt="Logo 2">
        <!-- <img src="assets/img/Tecl-Logo.png" alt="Logo 2"> -->
    </div>
</div>
