<div class="dashboard">
    <div class="header">
      <h1>Admin Panel Dashboard</h1>
      <button class="logout-button" (click)="logout()">Logout</button>
    </div>
    <div class="dashboard-buttons">
      <button class="dashboard-button" (click)="goto('projects')">Projects</button>
      <button class="dashboard-button" (click)="goto('services')" >Services</button>
      <button class="dashboard-button"  (click)="goto('team-members')">Team Members</button>
      <button class="dashboard-button"  (click)="goto('admins')">Admins</button>
    </div>
  </div>
  