
:host .eclips {
       
        width: 713.157px;
        height: 676.116px;
        flex-shrink: 0;
        background: #006AE1;
        border-radius: 50%;
        opacity: 0.8;
        filter: blur(167px);
        
 

    }

@media screen and (max-width: 1268px) {
    .eclips {
        display: none;

    }
}
